/*
  ======================================================= Lien vers le site
*/

.annuaire_url {
  display:inline-block;
  font-size: .8em;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  border: solid 1px #000;
}

/*
  ======================================================= liste de thématiques
*/

.thematique_list {
  list-style-type: none;
  padding: 0;
}

.thematique_link {
  display:block;
  text-align: center;
  font-size: .6em;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #fff;
  margin-block: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border: solid 1px #000;
}

/*
  ======================================================= erreurs du formulaire front-end
*/

.ys_form_message {
  padding: 10px;
  color: #fff;
  margin-block: 10px;
}
  .ys_form_message.ys_error {
    background-color: rgb(180, 60, 60);
  }
  .ys_form_message.ys_success {
    background-color: rgb(61, 119, 61);
  }


.field_error {
  color: rgb(180, 60, 60);
  font-size: .8em;
  padding-inline-start: 5px;
  border-inline-start: solid 1px rgb(180, 60, 60);
}
  .field_error span {
    display: block;
  }